:root {
    --f-tab-min-width: 200px;
}
  
f-tabs {
    .f-tabs {
        display: flex;
        
        f-item {
            position: relative;
            width: var(--f-tab-min-width, 200px);
            //TODO: need border radius for hover-focus, selected, selected-disabled
            --f-item-justification: center;

            --f-item-border-bottom: 4px solid transparent;
            --f-item-border-left: none;

            --f-item-hover-focus-border-bottom: 4px solid var(--accent-navy-blue);
            --f-item-hover-focus-border-left: none;
            --f-item-hover-focus-background-color: none;

            --f-item-disabled-border-bottom: 4px solid var(--neutral-mountain-mist);
            --f-item-disabled-border-left: none;

            --f-item-selected-border-bottom: 4px solid var(--accent-navy-blue);
            --f-item-selected-border-left: none;

            --f-item-selected-disabled-border-bottom:  4px solid var(--neutral-mountain-mist);
            --f-item-selected-disabled-border-left: none;
        }

        &.vertical {
            flex-direction: column;
        
            f-item {
                --f-item-justification: left;

                --f-item-border-bottom: none;
                --f-item-border-left: 4px solid transparent;

                --f-item-hover-focus-border-bottom: none;
                --f-item-hover-focus-border-left: 4px solid var(--accent-navy-blue);
                --f-item-hover-focus-background-color: none;

                --f-item-disabled-border-bottom: none;
                --f-item-disabled-border-left: 4px solid var(--neutral-mountain-mist);

                --f-item-selected-border-bottom: none;
                --f-item-selected-border-left: 4px solid var(--accent-navy-blue);

                --f-item-selected-disabled-border-bottom:  none;
                --f-item-selected-disabled-border-left: 4px solid var(--neutral-mountain-mist);
            }
        }
    }
}